-
    var todo = {
        text: '19日の午前10時に課長の田中さんに、新規サイトの進捗をメールで伺う',
        fromUser: {
            name: 'Mike',
            imagePath: '/imgs/animal_deer.png',
        },
        toUser: {
            name: 'Mike',
            imagePath: '/imgs/animal_panda.png',
        },
    }
-
    var loginUser = {
        name: 'Panda',
        imagePath: '/imgs/animal_panda.png',
    }
-
    var searchList = {
        sort: [
            {
                value: 'created',
                label: 'Created',
            },
            {
                value: 'updated',
                label: 'Updated',
            },
        ],
        to: [
            {
                value: 'deer',
                label: 'Deer',
            },
            {
                value: 'Panda',
                label: 'Panda',
            },
        ],
        from: [
            {
                value: 'deer',
                label: 'Deer',
            },
            {
                value: 'Panda',
                label: 'Panda',
            },
        ],
    }

mixin searchSelectItem(label, choices)
    .search-item
        span.c-search-label #{label}
        select(name='keyword')
            each choice in choices
                option(value=choice.value) #{choice.label}

html
    head
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/css/main.styl')
    body
        include includes/pager
        include includes/todo-form
        include includes/todo-item
        include includes/todo-search-form
        .container
            header
                .loginUser
                    .name
                        span #{loginUser.name}
                    img(src=loginUser.imagePath)
                    .menu
                        button.button ▼
                        ul.items
                            li.item
                                a logout
            .app.mt-20
                .p-todos
                    +todoForm(todo.fromUser)
                .line.mt-20
                .p-todos.search-box.mt-20
                    +todoSearchForm(searchList.sort, searchList.from, searchList.to)
                .p-todos.mt-20
                    +todoItem(todo.text, todo.fromUser, todo.toUser)
                +pager([2,3,4,5,6])
