-
    var todo = {
        text: '19日の午前10時に課長の田中さんに、新規サイトの進捗をメールで伺う',
        fromUser: {
            name: 'Mike',
            imagePath: '/imgs/animal_deer.png',
        },
        toUser: {
            name: 'Mike',
            imagePath: '/imgs/animal_panda.png',
        },
    }
-
    var loginUser = {
        name: 'Panda',
        imagePath: '/imgs/animal_panda.png',
    }
-
    var searchList = {
        keyword: [
            {
                value: 'created',
                label: 'Created',
            },
            {
                value: 'updated',
                label: 'Updated',
            },
        ],
        to: [
            {
                value: 'deer',
                label: 'Deer',
            },
            {
                value: 'Panda',
                label: 'Panda',
            },
        ],
        from: [
            {
                value: 'deer',
                label: 'Deer',
            },
            {
                value: 'Panda',
                label: 'Panda',
            },
        ],
    }

mixin searchSelectItem(label, choices)
    .search-item
        span.label #{label}
        select(name='keyword')
            each choice in choices
                option(value=choice.value) #{choice.label}

html
    head
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/css/main.styl')
    body
        include includes/todo-item.pug
        .container
            header
                .loginUser
                    .name
                        span #{loginUser.name}
                    img(src=loginUser.imagePath)
                    .menu
                        button.button ▼
                        ul.items
                            li.item
                                a logout
            .app.mt-20
                .p-todos
                    .p-todo.p-todo-form
                        button.add-button
                            span.p-todo-label.c-vertical-label Add
                        input.p-todo-form__text(type='text')
                        .p-todo-assignee.from
                            span.p-todo-label.c-vertical-label To
                            img.c-user-image(src=todo.fromUser.imagePath, alt='')
                .line.mt-20
                .p-todos.search-box.mt-20
                    .search-item.keyword
                        span.label Search
                        input(type='text')
                    +searchSelectItem('Sort', searchList.keyword)
                    +searchSelectItem('Sort', searchList.from)
                    +searchSelectItem('Sort', searchList.to)
                .p-todos.mt-20
                    +todoItem(todo.text, todo.fromUser, todo.toUser)
                .c-pager.mt-20
                    .c-pager__item ◀
                    - const numbers = [2,3,4,5,6]
                    - const center = Math.round(numbers.length / 2) - 1
                    each n, i in numbers
                        if i === center
                            .c-pager__item [#{n}]
                        else
                            .c-pager__item #{n}
                    .c-pager__item ▶


